<style>
    * {
        margin: 0;
    }
    

    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      background-color: #c6ce2e!important;
      border-radius: 0 !important;
    }

    .navbar-inverse .navbar-nav {
        margin-left: 16%;
        margin-right: 16%;
    }

    .navbar-inverse .navbar-nav>li>a {
        color: black;
    }

    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
        background-color: #c6ce2e;
    }

    .navvy {
        color: black;
        background-color: #c6ce2e;
    }

    .navvy:hover {
        color: white;
        background-color: #c6ce2e;
    }

    .navvy:active {
        color: white;
        background-color: #c6ce2e;
    }

    .navvy:visited {
        color: white;
    }

    html, body {
        height: 100%;
    }

    .center {
        margin-bottom: 20px;        
        overflow: auto;
        text-align: left;
    }

    .logo {
        float: right;  
        margin: 20px;
    }

    .text {
        margin: 0px;
    }

    .main_image {         
        
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
      #footer {
        height: 75px;      
      }
      .main_image { margin:0px; }
        .center { margin:0px; }   
      .navbar-inverse .navbar-nav {
          margin-left: 0px;
        }
    }

  img {
       width: auto;
      max-width: 100%;
  }    

  body {
    text-align: center;

  }

  p {
    text-align: justify;
  }
  .page-container {
    min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -50px;
  }

  .footer-padding, #footer {
    height: 50px;
  }

</style>